In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.special import inv_boxcox
import catboost as cb
from tqdm import tqdm
from prophet import Prophet
import datetime
import holidays
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

In [2]:
def wape(y_true: np.array, y_pred: np.array):
    return np.sum(np.abs(y_true-y_pred))/np.sum(np.abs(y_true))

In [50]:
train = pd.read_csv("train_preprocessed_w_features.csv")
train['day'] = pd.to_datetime(train['day'], format="%Y-%m-%d")
test = pd.read_csv("test_preprocessed_w_features.csv")
test['day'] = pd.to_datetime(test['day'], format="%Y-%m-%d")

In [51]:
train['month'] = pd.DatetimeIndex(train['day']).month
train['year'] = pd.DatetimeIndex(train['day']).year
test['month'] = pd.DatetimeIndex(test['day']).month
test['year'] = pd.DatetimeIndex(test['day']).year

In [6]:
train['year'].value_counts()

2019    6971552
2020    6831757
2018    4609034
2021    3280617
Name: year, dtype: int64

In [7]:
train['price'] = train['selling_price']/train['num_sales']
train['sell_in'] = train['supplier_price']/train['num_sales']

In [9]:
stat_month = train.groupby(["year", "month", "sku"]).agg({"check_id": "count"}).reset_index().sort_values(by='check_id')
stat_month.rename(columns={"check_id": "count"}, inplace=True)
stat_month = stat_month.groupby("sku").agg({"count": "mean"})
stat_month = stat_month.reset_index()

train = train.merge(stat_month, on='sku', how='left')

## CatBoost

In [19]:
train_df = train.groupby(["day", "shop_id", "sku"]).agg({"price": "mean", "num_sales": "sum", 
                                                         "count": "mean", "sell_in": "mean", "month": "first",
                                                         "promo_id": "first", "discount": "mean"}).reset_index()

In [21]:
train_df['target'] = train_df['num_sales']
train_df.drop(["num_sales"], axis=1, inplace=True)

In [23]:
train_df['id'] = range(1, len(train_df)+1)

In [ ]:
today_date = train_df['day'].max() - datetime.timedelta(days=362)
today_date

Timestamp('2020-07-03 00:00:00')

In [27]:
y_train = train_df['target']
X_train = train_df.drop(["target", "day", "shop_id", "sku"], axis=1)

# y_train = train_df[train_df["day"] < today_date]['target']
# X_train = train_df[train_df["day"] < today_date].drop(["target", "day", "shop_id", "sku"], axis=1)

# y_test = train_df[train_df["day"] >= today_date]['target']
# X_test = train_df[train_df["day"] >= today_date].drop(["target", "day", "shop_id", "sku"], axis=1)

In [32]:
model = cb.CatBoostRegressor(loss_function='RMSE')

In [33]:
model.fit(X_train.drop(['id'], axis=1), y_train, cat_features=['promo_id'])

Learning rate set to 0.192555
0:	learn: 3.4371361	total: 4.89s	remaining: 1h 21m 30s
1:	learn: 3.3260763	total: 9.22s	remaining: 1h 16m 40s
2:	learn: 3.2481080	total: 12.6s	remaining: 1h 10m 2s
3:	learn: 3.1921174	total: 16.7s	remaining: 1h 9m 14s
4:	learn: 3.1502318	total: 19.6s	remaining: 1h 5m 3s
5:	learn: 3.1107871	total: 22.7s	remaining: 1h 2m 33s
6:	learn: 3.0180564	total: 25.5s	remaining: 1h 14s
7:	learn: 2.9500063	total: 28.5s	remaining: 58m 53s
8:	learn: 2.9174018	total: 32.4s	remaining: 59m 31s
9:	learn: 2.8267594	total: 35.3s	remaining: 58m 9s
10:	learn: 2.7703256	total: 37.2s	remaining: 55m 48s
11:	learn: 2.7087650	total: 40.1s	remaining: 54m 57s
12:	learn: 2.6548811	total: 42.5s	remaining: 53m 48s
13:	learn: 2.6412144	total: 44.7s	remaining: 52m 27s
14:	learn: 2.6163330	total: 47s	remaining: 51m 26s
15:	learn: 2.5932188	total: 49.7s	remaining: 50m 54s
16:	learn: 2.5603864	total: 52.5s	remaining: 50m 34s
17:	learn: 2.5404893	total: 55s	remaining: 50m 1s
18:	learn: 2.5227089	total: 58s	remaining: 49m 52s
19:	learn: 2.5103890	total: 1m	remaining: 49m 9s
20:	learn: 2.4953569	total: 1m 3s	remaining: 49m 1s
21:	learn: 2.4701903	total: 1m 5s	remaining: 48m 46s
22:	learn: 2.4612451	total: 1m 8s	remaining: 48m 35s
23:	learn: 2.4499037	total: 1m 11s	remaining: 48m 33s
24:	learn: 2.4234036	total: 1m 13s	remaining: 47m 58s
25:	learn: 2.4165630	total: 1m 17s	remaining: 48m 29s
26:	learn: 2.4072203	total: 1m 20s	remaining: 48m 29s
27:	learn: 2.3989060	total: 1m 23s	remaining: 48m 5s
28:	learn: 2.3901590	total: 1m 25s	remaining: 47m 37s
29:	learn: 2.3609657	total: 1m 28s	remaining: 47m 30s
30:	learn: 2.3533699	total: 1m 32s	remaining: 48m 4s
31:	learn: 2.3461295	total: 1m 34s	remaining: 47m 46s
32:	learn: 2.3407489	total: 1m 37s	remaining: 47m 44s
33:	learn: 2.3361858	total: 1m 41s	remaining: 47m 50s
34:	learn: 2.3308796	total: 1m 43s	remaining: 47m 35s
35:	learn: 2.3079537	total: 1m 47s	remaining: 47m 49s
36:	learn: 2.2935194	total: 1m 51s	remaining: 48m 34s
37:	learn: 2.2899465	total: 1m 55s	remaining: 48m 31s
38:	learn: 2.2740731	total: 1m 58s	remaining: 48m 38s
39:	learn: 2.2669216	total: 2m 1s	remaining: 48m 34s
40:	learn: 2.2619210	total: 2m 3s	remaining: 48m 16s
41:	learn: 2.2562071	total: 2m 7s	remaining: 48m 24s
42:	learn: 2.2517078	total: 2m 10s	remaining: 48m 33s
43:	learn: 2.2476711	total: 2m 16s	remaining: 49m 18s
44:	learn: 2.2446075	total: 2m 20s	remaining: 49m 44s
45:	learn: 2.2405239	total: 2m 24s	remaining: 49m 46s
46:	learn: 2.2368075	total: 2m 27s	remaining: 49m 44s
47:	learn: 2.2341082	total: 2m 30s	remaining: 49m 37s
48:	learn: 2.2316032	total: 2m 34s	remaining: 49m 50s
49:	learn: 2.2283698	total: 2m 37s	remaining: 49m 44s
50:	learn: 2.2256928	total: 2m 40s	remaining: 49m 40s
51:	learn: 2.2232422	total: 2m 44s	remaining: 49m 58s
52:	learn: 2.2116676	total: 2m 47s	remaining: 49m 56s
53:	learn: 2.2090098	total: 2m 52s	remaining: 50m 30s
54:	learn: 2.2030598	total: 2m 56s	remaining: 50m 29s
55:	learn: 2.1977089	total: 3m	remaining: 50m 35s
56:	learn: 2.1954323	total: 3m 2s	remaining: 50m 24s
57:	learn: 2.1929158	total: 3m 5s	remaining: 50m 15s
58:	learn: 2.1909896	total: 3m 9s	remaining: 50m 15s
59:	learn: 2.1889919	total: 3m 12s	remaining: 50m 16s
60:	learn: 2.1862113	total: 3m 16s	remaining: 50m 29s
61:	learn: 2.1841732	total: 3m 19s	remaining: 50m 24s
62:	learn: 2.1825487	total: 3m 23s	remaining: 50m 19s
63:	learn: 2.1810382	total: 3m 25s	remaining: 50m 2s
64:	learn: 2.1798066	total: 3m 28s	remaining: 49m 55s
65:	learn: 2.1783279	total: 3m 30s	remaining: 49m 45s
66:	learn: 2.1771650	total: 3m 36s	remaining: 50m 17s
67:	learn: 2.1751538	total: 3m 41s	remaining: 50m 31s
68:	learn: 2.1680261	total: 3m 44s	remaining: 50m 26s
69:	learn: 2.1668841	total: 3m 48s	remaining: 50m 37s
70:	learn: 2.1658031	total: 3m 52s	remaining: 50m 40s
71:	learn: 2.1626826	total: 3m 57s	remaining: 50m 54s
72:	learn: 2.1605003	total: 4m	remaining: 50m 51s
73:	learn: 2.1568880	total: 4m 3s	remaining: 50m 49s
74:	learn: 2.1537497	total: 4m 8s	remaining: 51m 6s
75:	learn: 2.1522691	total: 4m 12s	remaining: 51m 7s
76:	learn: 2.1513958	total: 4m 15s	remaining: 51m
77:	learn: 2.1493476	total: 4m 18s	remaining: 50m 53s
78:	learn: 2.1474851	total: 4m 21s	remaining: 50m 46s
79:	learn: 2.1462020	total: 4m 24s	remaining: 50m 38s
80:	learn: 2.1443918	total: 4m 27s	remaining: 50m 29s
81:	learn: 2.1434917	total: 4m 30s	remaining: 50m 26s
82:	learn: 2.1428912	total: 4m 34s	remaining: 50m 31s
83:	learn: 2.1415127	total: 4m 38s	remaining: 50m 40s
84:	learn: 2.1403117	total: 4m 44s	remaining: 50m 58s
85:	learn: 2.1393317	total: 4m 48s	remaining: 51m 3s
86:	learn: 2.1351136	total: 4m 51s	remaining: 51m 2s
87:	learn: 2.1348892	total: 4m 55s	remaining: 51m 4s
88:	learn: 2.1314313	total: 4m 59s	remaining: 51m 1s
89:	learn: 2.1301076	total: 5m 5s	remaining: 51m 26s
90:	learn: 2.1289706	total: 5m 8s	remaining: 51m 23s
91:	learn: 2.1282322	total: 5m 12s	remaining: 51m 27s
92:	learn: 2.1265028	total: 5m 15s	remaining: 51m 21s
93:	learn: 2.1255161	total: 5m 19s	remaining: 51m 20s
94:	learn: 2.1238296	total: 5m 23s	remaining: 51m 25s
95:	learn: 2.1232325	total: 5m 27s	remaining: 51m 22s
96:	learn: 2.1208099	total: 5m 31s	remaining: 51m 23s
97:	learn: 2.1198009	total: 5m 34s	remaining: 51m 16s
98:	learn: 2.1177055	total: 5m 37s	remaining: 51m 13s
99:	learn: 2.1165920	total: 5m 41s	remaining: 51m 17s
100:	learn: 2.1158536	total: 5m 47s	remaining: 51m 29s
101:	learn: 2.1142832	total: 5m 53s	remaining: 51m 50s
102:	learn: 2.1135316	total: 5m 57s	remaining: 51m 57s
103:	learn: 2.1118243	total: 6m 1s	remaining: 51m 56s
104:	learn: 2.1113079	total: 6m 6s	remaining: 52m 4s
105:	learn: 2.1102626	total: 6m 10s	remaining: 52m 2s
106:	learn: 2.1087609	total: 6m 14s	remaining: 52m 7s
107:	learn: 2.1068596	total: 6m 18s	remaining: 52m 6s
108:	learn: 2.1058370	total: 6m 22s	remaining: 52m 6s
109:	learn: 2.1048965	total: 6m 25s	remaining: 51m 57s
110:	learn: 2.1037636	total: 6m 27s	remaining: 51m 46s
111:	learn: 2.1031177	total: 6m 30s	remaining: 51m 39s
112:	learn: 2.1016947	total: 6m 35s	remaining: 51m 40s
113:	learn: 2.1002690	total: 6m 39s	remaining: 51m 47s
114:	learn: 2.0985085	total: 6m 43s	remaining: 51m 44s
115:	learn: 2.0977217	total: 6m 46s	remaining: 51m 35s
116:	learn: 2.0958141	total: 6m 50s	remaining: 51m 34s
117:	learn: 2.0945506	total: 6m 53s	remaining: 51m 32s
118:	learn: 2.0929505	total: 6m 57s	remaining: 51m 27s
119:	learn: 2.0915944	total: 7m	remaining: 51m 21s
120:	learn: 2.0903348	total: 7m 4s	remaining: 51m 21s
121:	learn: 2.0892642	total: 7m 6s	remaining: 51m 10s
122:	learn: 2.0881976	total: 7m 9s	remaining: 51m 5s
123:	learn: 2.0872564	total: 7m 13s	remaining: 50m 59s
124:	learn: 2.0869281	total: 7m 16s	remaining: 50m 52s
125:	learn: 2.0858912	total: 7m 20s	remaining: 50m 52s
126:	learn: 2.0851366	total: 7m 24s	remaining: 50m 52s
127:	learn: 2.0847899	total: 7m 35s	remaining: 51m 44s
128:	learn: 2.0837505	total: 7m 41s	remaining: 51m 53s
129:	learn: 2.0829549	total: 7m 44s	remaining: 51m 46s
130:	learn: 2.0825419	total: 7m 47s	remaining: 51m 40s
131:	learn: 2.0820691	total: 7m 50s	remaining: 51m 33s
132:	learn: 2.0814119	total: 7m 54s	remaining: 51m 35s
133:	learn: 2.0806692	total: 7m 58s	remaining: 51m 30s
134:	learn: 2.0803230	total: 8m 1s	remaining: 51m 27s
135:	learn: 2.0796589	total: 8m 4s	remaining: 51m 20s
136:	learn: 2.0786403	total: 8m 8s	remaining: 51m 14s
137:	learn: 2.0780825	total: 8m 11s	remaining: 51m 9s
138:	learn: 2.0775318	total: 8m 15s	remaining: 51m 7s
139:	learn: 2.0768638	total: 8m 18s	remaining: 51m 2s
140:	learn: 2.0754732	total: 8m 22s	remaining: 51m 3s
141:	learn: 2.0744700	total: 8m 26s	remaining: 50m 58s
142:	learn: 2.0738357	total: 8m 30s	remaining: 50m 58s
143:	learn: 2.0734402	total: 8m 33s	remaining: 50m 51s
144:	learn: 2.0725406	total: 8m 35s	remaining: 50m 41s
145:	learn: 2.0719811	total: 8m 38s	remaining: 50m 31s
146:	learn: 2.0713120	total: 8m 40s	remaining: 50m 21s
147:	learn: 2.0708202	total: 8m 43s	remaining: 50m 13s
148:	learn: 2.0699196	total: 8m 46s	remaining: 50m 4s
149:	learn: 2.0696221	total: 8m 49s	remaining: 49m 58s
150:	learn: 2.0685757	total: 8m 52s	remaining: 49m 56s
151:	learn: 2.0680783	total: 8m 56s	remaining: 49m 52s
152:	learn: 2.0677844	total: 9m 4s	remaining: 50m 14s
153:	learn: 2.0667821	total: 9m 8s	remaining: 50m 12s
154:	learn: 2.0660410	total: 9m 11s	remaining: 50m 4s
155:	learn: 2.0653869	total: 9m 14s	remaining: 50m 1s
156:	learn: 2.0644386	total: 9m 19s	remaining: 50m 2s
157:	learn: 2.0620665	total: 9m 22s	remaining: 49m 55s
158:	learn: 2.0618025	total: 9m 25s	remaining: 49m 48s
159:	learn: 2.0612963	total: 9m 28s	remaining: 49m 45s
160:	learn: 2.0603450	total: 9m 32s	remaining: 49m 45s
161:	learn: 2.0597731	total: 9m 35s	remaining: 49m 38s
162:	learn: 2.0584894	total: 9m 39s	remaining: 49m 34s
163:	learn: 2.0578383	total: 9m 42s	remaining: 49m 31s
164:	learn: 2.0573721	total: 9m 47s	remaining: 49m 32s
165:	learn: 2.0568050	total: 9m 50s	remaining: 49m 25s
166:	learn: 2.0561043	total: 9m 53s	remaining: 49m 17s
167:	learn: 2.0557075	total: 9m 57s	remaining: 49m 17s
168:	learn: 2.0553769	total: 10m	remaining: 49m 11s
169:	learn: 2.0538046	total: 10m 3s	remaining: 49m 8s
170:	learn: 2.0526292	total: 10m 8s	remaining: 49m 12s
171:	learn: 2.0520161	total: 10m 12s	remaining: 49m 7s
172:	learn: 2.0514368	total: 10m 15s	remaining: 49m 4s
173:	learn: 2.0511708	total: 10m 19s	remaining: 48m 58s
174:	learn: 2.0506831	total: 10m 21s	remaining: 48m 52s
175:	learn: 2.0501648	total: 10m 25s	remaining: 48m 49s
176:	learn: 2.0498682	total: 10m 28s	remaining: 48m 42s
177:	learn: 2.0489655	total: 10m 32s	remaining: 48m 38s
178:	learn: 2.0481738	total: 10m 35s	remaining: 48m 36s
179:	learn: 2.0473144	total: 10m 38s	remaining: 48m 29s
180:	learn: 2.0466796	total: 10m 42s	remaining: 48m 25s
181:	learn: 2.0462911	total: 10m 44s	remaining: 48m 17s
182:	learn: 2.0461114	total: 10m 47s	remaining: 48m 10s
183:	learn: 2.0456032	total: 10m 49s	remaining: 48m 2s
184:	learn: 2.0442516	total: 10m 52s	remaining: 47m 56s
185:	learn: 2.0436638	total: 10m 55s	remaining: 47m 50s
186:	learn: 2.0429897	total: 11m 1s	remaining: 47m 56s
187:	learn: 2.0425205	total: 11m 4s	remaining: 47m 52s
188:	learn: 2.0421319	total: 11m 7s	remaining: 47m 45s
189:	learn: 2.0418188	total: 11m 10s	remaining: 47m 39s
190:	learn: 2.0414618	total: 11m 13s	remaining: 47m 31s
191:	learn: 2.0405096	total: 11m 16s	remaining: 47m 26s
192:	learn: 2.0403018	total: 11m 19s	remaining: 47m 21s
193:	learn: 2.0399277	total: 11m 24s	remaining: 47m 23s
194:	learn: 2.0397597	total: 11m 27s	remaining: 47m 17s
195:	learn: 2.0391894	total: 11m 30s	remaining: 47m 11s
196:	learn: 2.0367077	total: 11m 33s	remaining: 47m 5s
197:	learn: 2.0364511	total: 11m 35s	remaining: 46m 57s
198:	learn: 2.0339272	total: 11m 38s	remaining: 46m 49s
199:	learn: 2.0331143	total: 11m 41s	remaining: 46m 45s
200:	learn: 2.0328360	total: 11m 44s	remaining: 46m 38s
201:	learn: 2.0324512	total: 11m 49s	remaining: 46m 44s
202:	learn: 2.0317543	total: 11m 53s	remaining: 46m 41s
203:	learn: 2.0313449	total: 11m 56s	remaining: 46m 36s
204:	learn: 2.0307440	total: 12m	remaining: 46m 32s
205:	learn: 2.0302918	total: 12m 7s	remaining: 46m 44s
206:	learn: 2.0299450	total: 12m 11s	remaining: 46m 40s
207:	learn: 2.0283679	total: 12m 14s	remaining: 46m 35s
208:	learn: 2.0277081	total: 12m 17s	remaining: 46m 31s
209:	learn: 2.0268469	total: 12m 20s	remaining: 46m 25s
210:	learn: 2.0258245	total: 12m 24s	remaining: 46m 24s
211:	learn: 2.0236470	total: 12m 26s	remaining: 46m 15s
212:	learn: 2.0232207	total: 12m 29s	remaining: 46m 9s
213:	learn: 2.0228265	total: 12m 32s	remaining: 46m 4s
214:	learn: 2.0226142	total: 12m 35s	remaining: 45m 59s
215:	learn: 2.0219999	total: 12m 39s	remaining: 45m 56s
216:	learn: 2.0213231	total: 12m 42s	remaining: 45m 49s
217:	learn: 2.0206127	total: 12m 44s	remaining: 45m 43s
218:	learn: 2.0200808	total: 12m 47s	remaining: 45m 38s
219:	learn: 2.0198770	total: 12m 50s	remaining: 45m 30s
220:	learn: 2.0193757	total: 12m 54s	remaining: 45m 30s
221:	learn: 2.0189358	total: 12m 57s	remaining: 45m 24s
222:	learn: 2.0187995	total: 13m	remaining: 45m 17s
223:	learn: 2.0184792	total: 13m 5s	remaining: 45m 21s
224:	learn: 2.0178418	total: 13m 12s	remaining: 45m 28s
225:	learn: 2.0175130	total: 13m 13s	remaining: 45m 18s
226:	learn: 2.0168978	total: 13m 16s	remaining: 45m 12s
227:	learn: 2.0165087	total: 13m 19s	remaining: 45m 7s
228:	learn: 2.0146282	total: 13m 21s	remaining: 44m 59s
229:	learn: 2.0141387	total: 13m 24s	remaining: 44m 54s
230:	learn: 2.0137559	total: 13m 27s	remaining: 44m 48s
231:	learn: 2.0136005	total: 13m 30s	remaining: 44m 41s
232:	learn: 2.0129823	total: 13m 32s	remaining: 44m 36s
233:	learn: 2.0126868	total: 13m 35s	remaining: 44m 30s
234:	learn: 2.0121922	total: 13m 38s	remaining: 44m 24s
235:	learn: 2.0118622	total: 13m 41s	remaining: 44m 19s
236:	learn: 2.0116543	total: 13m 45s	remaining: 44m 18s
237:	learn: 2.0113146	total: 13m 48s	remaining: 44m 13s
238:	learn: 2.0106876	total: 13m 51s	remaining: 44m 7s
239:	learn: 2.0103519	total: 13m 54s	remaining: 44m 2s
240:	learn: 2.0085295	total: 13m 58s	remaining: 43m 59s
241:	learn: 2.0081727	total: 14m 5s	remaining: 44m 8s
242:	learn: 2.0078691	total: 14m 9s	remaining: 44m 7s
243:	learn: 2.0074529	total: 14m 15s	remaining: 44m 10s
244:	learn: 2.0071200	total: 14m 19s	remaining: 44m 7s
245:	learn: 2.0069214	total: 14m 22s	remaining: 44m 2s
246:	learn: 2.0066663	total: 14m 25s	remaining: 43m 59s
247:	learn: 2.0061231	total: 14m 30s	remaining: 44m
248:	learn: 2.0053475	total: 14m 33s	remaining: 43m 54s
249:	learn: 2.0049731	total: 14m 36s	remaining: 43m 49s
250:	learn: 2.0048005	total: 14m 39s	remaining: 43m 44s
251:	learn: 2.0046631	total: 14m 41s	remaining: 43m 36s
252:	learn: 2.0043077	total: 14m 44s	remaining: 43m 32s
253:	learn: 2.0039372	total: 14m 48s	remaining: 43m 29s
254:	learn: 2.0035860	total: 14m 51s	remaining: 43m 25s
255:	learn: 2.0027773	total: 14m 55s	remaining: 43m 22s
256:	learn: 2.0025441	total: 14m 58s	remaining: 43m 17s
257:	learn: 2.0023385	total: 15m 1s	remaining: 43m 13s
258:	learn: 2.0019699	total: 15m 5s	remaining: 43m 11s
259:	learn: 2.0017144	total: 15m 9s	remaining: 43m 9s
260:	learn: 2.0016006	total: 15m 12s	remaining: 43m 3s
261:	learn: 2.0014299	total: 15m 16s	remaining: 43m
262:	learn: 2.0009992	total: 15m 23s	remaining: 43m 7s
263:	learn: 2.0007059	total: 15m 28s	remaining: 43m 9s
264:	learn: 2.0002516	total: 15m 33s	remaining: 43m 8s
265:	learn: 1.9999044	total: 15m 36s	remaining: 43m 4s
266:	learn: 1.9994159	total: 15m 39s	remaining: 42m 59s
267:	learn: 1.9991558	total: 15m 44s	remaining: 42m 59s
268:	learn: 1.9987850	total: 15m 48s	remaining: 42m 56s
269:	learn: 1.9985002	total: 15m 51s	remaining: 42m 52s
270:	learn: 1.9980739	total: 15m 54s	remaining: 42m 46s
271:	learn: 1.9974839	total: 15m 56s	remaining: 42m 40s
272:	learn: 1.9969389	total: 16m	remaining: 42m 38s
273:	learn: 1.9961278	total: 16m 5s	remaining: 42m 37s
274:	learn: 1.9958223	total: 16m 8s	remaining: 42m 33s
275:	learn: 1.9954256	total: 16m 12s	remaining: 42m 30s
276:	learn: 1.9947523	total: 16m 15s	remaining: 42m 26s
277:	learn: 1.9941523	total: 16m 19s	remaining: 42m 24s
278:	learn: 1.9938936	total: 16m 23s	remaining: 42m 22s
279:	learn: 1.9935605	total: 16m 27s	remaining: 42m 18s
280:	learn: 1.9932325	total: 16m 30s	remaining: 42m 14s
281:	learn: 1.9928269	total: 16m 33s	remaining: 42m 9s
282:	learn: 1.9925035	total: 16m 37s	remaining: 42m 6s
283:	learn: 1.9923499	total: 16m 40s	remaining: 42m 2s
284:	learn: 1.9921710	total: 16m 43s	remaining: 41m 58s
285:	learn: 1.9919098	total: 16m 47s	remaining: 41m 55s
286:	learn: 1.9914307	total: 16m 51s	remaining: 41m 53s
287:	learn: 1.9905791	total: 16m 55s	remaining: 41m 51s
288:	learn: 1.9898512	total: 16m 59s	remaining: 41m 47s
289:	learn: 1.9893739	total: 17m 4s	remaining: 41m 48s
290:	learn: 1.9887843	total: 17m 7s	remaining: 41m 44s
291:	learn: 1.9886765	total: 17m 10s	remaining: 41m 38s
292:	learn: 1.9881442	total: 17m 14s	remaining: 41m 35s
293:	learn: 1.9877010	total: 17m 17s	remaining: 41m 31s
294:	learn: 1.9872953	total: 17m 20s	remaining: 41m 26s
295:	learn: 1.9870991	total: 17m 23s	remaining: 41m 22s
296:	learn: 1.9865813	total: 17m 27s	remaining: 41m 20s
297:	learn: 1.9859312	total: 17m 34s	remaining: 41m 24s
298:	learn: 1.9854700	total: 17m 38s	remaining: 41m 20s
299:	learn: 1.9851869	total: 17m 41s	remaining: 41m 17s
300:	learn: 1.9850442	total: 17m 45s	remaining: 41m 13s
301:	learn: 1.9848679	total: 17m 50s	remaining: 41m 13s
302:	learn: 1.9847340	total: 17m 53s	remaining: 41m 8s
303:	learn: 1.9846339	total: 17m 57s	remaining: 41m 5s
304:	learn: 1.9844746	total: 18m 2s	remaining: 41m 6s
305:	learn: 1.9841919	total: 18m 5s	remaining: 41m 2s
306:	learn: 1.9840525	total: 18m 8s	remaining: 40m 57s
307:	learn: 1.9837257	total: 18m 13s	remaining: 40m 56s
308:	learn: 1.9834568	total: 18m 17s	remaining: 40m 54s
309:	learn: 1.9832557	total: 18m 21s	remaining: 40m 51s
310:	learn: 1.9827566	total: 18m 25s	remaining: 40m 48s
311:	learn: 1.9821248	total: 18m 30s	remaining: 40m 48s
312:	learn: 1.9818636	total: 18m 34s	remaining: 40m 45s
313:	learn: 1.9816612	total: 18m 38s	remaining: 40m 43s
314:	learn: 1.9814358	total: 18m 42s	remaining: 40m 40s
315:	learn: 1.9804584	total: 18m 47s	remaining: 40m 39s
316:	learn: 1.9801674	total: 18m 50s	remaining: 40m 36s
317:	learn: 1.9796442	total: 18m 55s	remaining: 40m 34s
318:	learn: 1.9792047	total: 19m	remaining: 40m 34s
319:	learn: 1.9783231	total: 19m 5s	remaining: 40m 33s
320:	learn: 1.9778359	total: 19m 10s	remaining: 40m 33s
321:	learn: 1.9771893	total: 19m 13s	remaining: 40m 29s
322:	learn: 1.9769661	total: 19m 18s	remaining: 40m 29s
323:	learn: 1.9765664	total: 19m 21s	remaining: 40m 23s
324:	learn: 1.9762865	total: 19m 25s	remaining: 40m 19s
325:	learn: 1.9760041	total: 19m 31s	remaining: 40m 23s
326:	learn: 1.9757751	total: 19m 35s	remaining: 40m 20s
327:	learn: 1.9755147	total: 19m 40s	remaining: 40m 19s
328:	learn: 1.9750905	total: 19m 46s	remaining: 40m 20s
329:	learn: 1.9748951	total: 19m 50s	remaining: 40m 17s
330:	learn: 1.9747208	total: 19m 54s	remaining: 40m 14s
331:	learn: 1.9744348	total: 19m 58s	remaining: 40m 12s
332:	learn: 1.9736945	total: 20m 8s	remaining: 40m 20s
333:	learn: 1.9734627	total: 20m 12s	remaining: 40m 17s
334:	learn: 1.9731843	total: 20m 16s	remaining: 40m 14s
335:	learn: 1.9725403	total: 20m 20s	remaining: 40m 12s
336:	learn: 1.9722231	total: 20m 24s	remaining: 40m 8s
337:	learn: 1.9719493	total: 20m 28s	remaining: 40m 5s
338:	learn: 1.9715711	total: 20m 32s	remaining: 40m 2s
339:	learn: 1.9709498	total: 20m 36s	remaining: 40m
340:	learn: 1.9707437	total: 20m 40s	remaining: 39m 57s
341:	learn: 1.9705693	total: 20m 45s	remaining: 39m 55s
342:	learn: 1.9704605	total: 20m 49s	remaining: 39m 52s
343:	learn: 1.9703155	total: 20m 54s	remaining: 39m 52s
344:	learn: 1.9701741	total: 20m 57s	remaining: 39m 48s
345:	learn: 1.9697873	total: 21m 3s	remaining: 39m 47s
346:	learn: 1.9696382	total: 21m 7s	remaining: 39m 45s
347:	learn: 1.9692433	total: 21m 11s	remaining: 39m 41s
348:	learn: 1.9690584	total: 21m 14s	remaining: 39m 38s
349:	learn: 1.9686924	total: 21m 18s	remaining: 39m 34s
350:	learn: 1.9684186	total: 21m 22s	remaining: 39m 31s
351:	learn: 1.9682308	total: 21m 29s	remaining: 39m 33s
352:	learn: 1.9679431	total: 21m 34s	remaining: 39m 31s
353:	learn: 1.9675854	total: 21m 37s	remaining: 39m 28s
354:	learn: 1.9672113	total: 21m 42s	remaining: 39m 27s
355:	learn: 1.9670453	total: 21m 46s	remaining: 39m 23s
356:	learn: 1.9668877	total: 21m 51s	remaining: 39m 22s
357:	learn: 1.9662477	total: 22m 2s	remaining: 39m 31s
358:	learn: 1.9659328	total: 22m 10s	remaining: 39m 35s
359:	learn: 1.9657752	total: 22m 15s	remaining: 39m 34s
360:	learn: 1.9655829	total: 22m 20s	remaining: 39m 32s
361:	learn: 1.9654545	total: 22m 24s	remaining: 39m 29s
362:	learn: 1.9649925	total: 22m 28s	remaining: 39m 26s
363:	learn: 1.9647955	total: 22m 34s	remaining: 39m 26s

In [158]:
#wape(y_test, pred)

0.3664232042203915

In [35]:
importances = list()
importances.append(pd.DataFrame({'feature_importance': model.get_feature_importance(), 
          'feature_names': X_train.drop('id', axis=1).columns}).sort_values(by=['feature_importance'], 
                                                       ascending=False))

In [36]:
importances

[   feature_importance feature_names
 5           32.653720      discount
 2           19.053769       sell_in
 0           18.603446         price
 1           14.675167         count
 4           11.628519      promo_id
 3            3.385378         month]

In [34]:
model.save_model("catboost_final", format="cbm")

In [166]:
# m = cb.CatBoostRegressor() 
# m.load_model("catboost_final")

## Needed feaatures for test set

In [182]:
test_prices = pd.read_csv("test_new.csv", index_col=0)
test_prices['day'] = pd.to_datetime(test_prices['day'], format="%Y-%m-%d")

/Users/thingavu/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/arraysetops.py:583: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [187]:
test_prices['month'] = pd.DatetimeIndex(test_prices['day']).month
test_prices['year'] = pd.DatetimeIndex(test_prices['day']).year

In [188]:
test_prices.shape, test_prices['sku'].nunique()

((2666084, 28), 55001)

In [189]:
test_prices.head()

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,num,price,sell_in,month,year
0,2021-10-25,23,10,22:25:37,114519,300187,64.84,86.26,28.72,123369,...,1,1,1,1,0,1.0,86.26,64.84,10,2021
1,2021-10-25,23,11,21:25:01,4405,285514,8.80,0.00,51.59,123371,...,1,1,1,1,0,1.0,0.00,8.80,10,2021
2,2021-10-25,23,11,21:25:01,99020,296267,384.60,599.00,347.39,123371,...,1,1,1,1,0,1.0,599.00,384.60,10,2021
3,2021-10-25,23,10,22:25:37,88039,299802,28.68,41.27,23.95,123369,...,1,1,1,1,0,1.0,41.27,28.68,10,2021
4,2021-10-25,23,10,22:25:37,79182,51588,1.47,5.49,0.30,123371,...,1,1,1,1,0,1.0,5.49,1.47,10,2021

In [190]:
stat_month = test_prices.groupby(["year", "month", "sku"]).agg({"check_id": "count"}).reset_index().sort_values(by='check_id')
stat_month.rename(columns={"check_id": "count"}, inplace=True)
stat_month = stat_month.groupby("sku").agg({"count": "mean"})
stat_month = stat_month.reset_index()

test_prices = test_prices.merge(stat_month, on='sku', how='left')
test_prices

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_wealth_id,is_store,is_active,is_ex_billa,num,price,sell_in,month,year,count
0,2021-10-25,23,10,22:25:37,114519,300187,64.84,86.26,28.72,123369,...,1,1,1,0,1.0,86.260000,64.840000,10,2021,541.000000
1,2021-10-25,23,11,21:25:01,4405,285514,8.80,0.00,51.59,123371,...,1,1,1,0,1.0,0.000000,8.800000,10,2021,10092.666667
2,2021-10-25,23,11,21:25:01,99020,296267,384.60,599.00,347.39,123371,...,1,1,1,0,1.0,599.000000,384.600000,10,2021,5.200000
3,2021-10-25,23,10,22:25:37,88039,299802,28.68,41.27,23.95,123369,...,1,1,1,0,1.0,41.270000,28.680000,10,2021,1033.000000
4,2021-10-25,23,10,22:25:37,79182,51588,1.47,5.49,0.30,123371,...,1,1,1,0,1.0,5.490000,1.470000,10,2021,12925.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666079,2021-10-23,42,2666084,10:52:58,70,51588,688.37,986.45,51.92,123369,...,2,1,1,0,3.0,328.816667,229.456667,10,2021,28.400000
2666080,2021-10-23,42,2666084,10:52:58,94981,286290,85.83,99.99,109.50,123371,...,2,1,1,0,1.0,99.990000,85.830000,10,2021,2.000000
2666081,2021-10-23,42,2666084,10:52:58,96905,51588,7.78,13.50,0.72,123369,...,2,1,1,0,1.0,13.500000,7.780000,10,2021,62.000000
2666082,2021-10-23,42,2666084,10:52:58,4405,285514,8.80,0.00,51.59,123371,...,2,1,1,0,1.0,0.000000,8.800000,10,2021,10092.666667
2666083,2021-10-23,42,2666084,10:52:58,64628,282232,104.56,199.00,115.79,123371,...,2,1,1,0,1.0,199.000000,104.560000,10,2021,1.333333

In [198]:
test_prices['promo_id'] = test_prices['promo_id'].astype(int)

test_df = test_prices.groupby(["day", "shop_id", "sku"]).agg({"price": "mean", "count": "mean", "sell_in": "mean", "month": "first",
                                                         "promo_id": "first", "discount": "mean"}).reset_index()

In [199]:
test_df['id'] = range(1, len(test_df)+1)

In [200]:
predictions = model.predict(test_df[['price', 'count', 'sell_in', 'month', 'promo_id', 'discount']])

In [201]:
test_df['prediction'] = predictions

In [202]:
test_df

,day,shop_id,sku,price,count,sell_in,month,promo_id,discount,id,prediction
0,2021-07-01,0,17,95.7200,332.60,68.0900,7,225972,16.89,1,1.572795
1,2021-07-01,0,49,61.5400,229.60,17.5300,7,231968,10.86,2,0.909536
2,2021-07-01,0,79,35.2700,180.40,22.7700,7,225972,6.22,3,1.795373
3,2021-07-01,0,109,225.2275,1168.80,213.2225,7,225972,79.50,4,3.341803
4,2021-07-01,0,213,32.4900,55.80,13.8300,7,51588,1.80,5,1.166016
...,...,...,...,...,...,...,...,...,...,...,...
2253775,2021-11-30,59,118891,329.8900,96.75,247.1600,11,319075,514.80,2253776,2.696585
2253776,2021-11-30,59,118943,32.5900,198.40,25.5200,11,51588,3.60,2253777,2.642239
2253777,2021-11-30,59,119087,39.8900,32.80,16.8800,11,302147,22.30,2253778,1.577934
2253778,2021-11-30,59,119442,199.9900,18.80,127.6000,11,306940,221.10,2253779,1.498251
2253779,2021-11-30,59,119654,75.9900,3.75,52.3000,11,51588,4.00,2253780,1.019710

## Submission

In [203]:
submission = test_df[['day', 'shop_id', 'sku', 'prediction']]
submission

               day  shop_id     sku  prediction
0       2021-07-01        0      17    1.572795
1       2021-07-01        0      49    0.909536
2       2021-07-01        0      79    1.795373
3       2021-07-01        0     109    3.341803
4       2021-07-01        0     213    1.166016
...            ...      ...     ...         ...
2253775 2021-11-30       59  118891    2.696585
2253776 2021-11-30       59  118943    2.642239
2253777 2021-11-30       59  119087    1.577934
2253778 2021-11-30       59  119442    1.498251
2253779 2021-11-30       59  119654    1.019710

[2253780 rows x 4 columns]

In [204]:
submission['day'] = submission['day'].dt.strftime('%Y%m%d')
submission

/var/folders/64/svd0gdmx7kz_3vg0x7752y440000gn/T/ipykernel_83582/3934297038.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              day  shop_id     sku  prediction
0        20210701        0      17    1.572795
1        20210701        0      49    0.909536
2        20210701        0      79    1.795373
3        20210701        0     109    3.341803
4        20210701        0     213    1.166016
...           ...      ...     ...         ...
2253775  20211130       59  118891    2.696585
2253776  20211130       59  118943    2.642239
2253777  20211130       59  119087    1.577934
2253778  20211130       59  119442    1.498251
2253779  20211130       59  119654    1.019710

[2253780 rows x 4 columns]

In [208]:
shop_id = pd.read_csv("shop_id.csv")
sku = pd.read_csv("sku.csv")
shop_id = shop_id.to_dict()['index']
sku = sku.to_dict()['index']

submission['shop_id'] = submission['shop_id'].map(shop_id)
submission['sku'] = submission['sku'].map(sku)

submission = submission.rename(columns={'prediction': 'demand'})

In [209]:
submission

,day,shop_id,sku,demand
0,20210701,d04feef70623eaf7167f9172da8650db,6c7376da8563e2a1c4a554dd3623f832,1.572795
1,20210701,d04feef70623eaf7167f9172da8650db,23f552a9126cedd94df4a760107773de,0.909536
2,20210701,d04feef70623eaf7167f9172da8650db,3b70da5574ddb629f9fe6440432894f0,1.795373
3,20210701,d04feef70623eaf7167f9172da8650db,ef7bf412117548cb80b3f3b33a12977d,3.341803
4,20210701,d04feef70623eaf7167f9172da8650db,acbea6afda31885cb996df4569c0f650,1.166016
...,...,...,...,...
2253775,20211130,7d7c45b9a935cf9d845fc75679a41559,db26c36d69925ebe6d6745beb3d5e0df,2.696585
2253776,20211130,7d7c45b9a935cf9d845fc75679a41559,d36f89e079d802acade5e4746523ef5c,2.642239
2253777,20211130,7d7c45b9a935cf9d845fc75679a41559,eeb335affeb679d160d1afe7393d6ce7,1.577934
2253778,20211130,7d7c45b9a935cf9d845fc75679a41559,fba66841370ea48ab47c027bbacc18f1,1.498251
2253779,20211130,7d7c45b9a935cf9d845fc75679a41559,52026f37111e2fe32cfa86ee1be33a95,1.019710

In [211]:
submission.to_csv('pricing_hackathon_submission.csv')

In [73]:
mean_prices = train.groupby(['shop_id', 'sku']).agg({"price": "mean"}).reset_index()

In [77]:
test = test.merge(mean_prices, on=['shop_id', 'sku'], how='left')
test

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,month,year,price
0,2021-10-25,23,10,22:25:37,114519,300187,64.84,86.26,28.72,123369,...,1,8,1,1,1,1,0,10,2021,33.990569
1,2021-10-25,23,11,21:25:01,4405,285514,8.80,0.00,51.59,123371,...,1,8,1,1,1,1,0,10,2021,NaN
2,2021-10-25,23,11,21:25:01,99020,296267,384.60,599.00,347.39,123371,...,1,8,1,1,1,1,0,10,2021,NaN
3,2021-10-25,23,10,22:25:37,88039,299802,28.68,41.27,23.95,123369,...,1,8,1,1,1,1,0,10,2021,29.846492
4,2021-10-25,23,10,22:25:37,79182,51588,1.47,5.49,0.30,123371,...,1,8,1,1,1,1,0,10,2021,3.555905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666079,2021-10-23,42,2666084,10:52:58,70,51588,688.37,986.45,51.92,123369,...,2,4,1,2,1,1,0,10,2021,127.664313
2666080,2021-10-23,42,2666084,10:52:58,94981,286290,85.83,99.99,109.50,123371,...,2,4,1,2,1,1,0,10,2021,NaN
2666081,2021-10-23,42,2666084,10:52:58,96905,51588,7.78,13.50,0.72,123369,...,2,4,1,2,1,1,0,10,2021,41.355708
2666082,2021-10-23,42,2666084,10:52:58,4405,285514,8.80,0.00,51.59,123371,...,2,4,1,2,1,1,0,10,2021,NaN
2666083,2021-10-23,42,2666084,10:52:58,64628,282232,104.56,199.00,115.79,123371,...,2,4,1,2,1,1,0,10,2021,NaN

In [101]:
test['sku'].nunique()

55001

In [102]:
test_w_prices = test[~test['price'].isna()]

In [80]:
sku_to_est = test[test['price'].isna()]['sku'].unique()
sku_to_est

array([  4405,  99020,  25367, ...,  42684,  47855, 101040])

In [82]:
hierarchy = pd.read_csv("hierarchy_preprocessed.csv")

In [86]:
subcategories_to_est = hierarchy[hierarchy['sku'].isin(sku_to_est)]['subcategory'].unique()

In [89]:
subcategory_prices = train[train['subcategory'].isin(subcategories_to_est)].groupby('subcategory').agg({"price": "mean"}).reset_index()

In [95]:
subcategory_prices['subcategory'].nunique(), subcategory_prices.shape

(1977, (1977, 2))

In [97]:
hierarchy[hierarchy['sku'].isin(sku_to_est)].shape

(42584, 5)

In [99]:
additional_prices = hierarchy[hierarchy['sku'].isin(sku_to_est)].merge(subcategory_prices, on='subcategory', how='left')
additional_prices

          sku   class   group  category  subcategory       price
0           0  123369  123369    122673       121845  117.394454
1           2  123371  123371    122367       102400  262.319205
2           4  123369  123366    121283       121283  164.379655
3           8  123369  123300    123057       123057  104.274022
4           9  123369  123369    122951       122951  169.421682
...       ...     ...     ...       ...          ...         ...
42579  123303  123369  123369    123303       123303  229.061852
42580  123305  123369  123366    123305       123305   36.154630
42581  123315  123371  123371    123315       123315  137.801390
42582  123337  123369  123366    123337       123337  149.890908
42583  123342  123371  123371    123342       123342   95.765650

[42584 rows x 6 columns]

In [103]:
test[test['price'].isna()].shape

(344104, 26)

In [106]:
test = test[test['price'].isna()].drop('price', axis=1).merge(additional_prices[['sku', 'price']], on=['sku'], how='left')
test

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_loc_id,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,month,year,price
0,2021-10-25,23,11,21:25:01,4405,285514,8.80,0.00,51.59,123371,...,1,8,1,1,1,1,0,10,2021,2.854609
1,2021-10-25,23,11,21:25:01,99020,296267,384.60,599.00,347.39,123371,...,1,8,1,1,1,1,0,10,2021,929.208941
2,2021-10-25,23,10,22:25:37,25367,285093,1659.65,1449.11,883.58,123371,...,1,8,1,1,1,1,0,10,2021,1070.820804
3,2021-10-25,23,10,22:25:37,4405,285514,8.80,0.00,51.59,123371,...,1,8,1,1,1,1,0,10,2021,2.854609
4,2021-10-25,23,11,21:25:01,50371,285093,1627.86,1449.99,882.70,123371,...,1,8,1,1,1,1,0,10,2021,1070.820804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344099,2021-10-23,42,2666056,21:33:34,4405,285514,17.60,0.00,103.18,123371,...,2,4,1,2,1,1,0,10,2021,2.854609
344100,2021-10-23,42,2666076,21:03:50,4405,285514,8.80,0.00,51.59,123371,...,2,4,1,2,1,1,0,10,2021,2.854609
344101,2021-10-23,42,2666084,10:52:58,94981,286290,85.83,99.99,109.50,123371,...,2,4,1,2,1,1,0,10,2021,81.075409
344102,2021-10-23,42,2666084,10:52:58,4405,285514,8.80,0.00,51.59,123371,...,2,4,1,2,1,1,0,10,2021,2.854609
344103,2021-10-23,42,2666084,10:52:58,64628,282232,104.56,199.00,115.79,123371,...,2,4,1,2,1,1,0,10,2021,223.651289

In [108]:
test_w_prices = pd.concat([test_w_prices, test[~test['price'].isna()]])

In [114]:
test[test['price'].isna()]['sku'].unique()

array([  1612,  42536,  91680,  12692, 105074,  52158,  68024,  26080,
        51611,  24747,  28767,  65557,  59480, 121920, 114116,  74583,
        70336,  43167, 109456,  30296,  26079,  21260,  29953, 113511,
        17235,  70416])

In [112]:
sku_to_est = test[test['price'].isna()]['sku'].unique()
categories_to_est = hierarchy[hierarchy['sku'].isin(sku_to_est)]['category'].unique()
category_prices = train[train['category'].isin(categories_to_est)].groupby('category').agg({"price": "mean"}).reset_index()
additional_prices = hierarchy[hierarchy['sku'].isin(sku_to_est)].merge(category_prices, on='category', how='left')
additional_prices

       sku   class   group  category  subcategory       price
0     1612  123369  123366    116090        21260   92.040435
1    12692  123369  123366    122916       114116  126.032558
2    17235  123369  123366    121920       121920   33.587331
3    21260  123369  123366    116090        21260   92.040435
4    24747  123369  123366    121920       121920   33.587331
5    26079  123369  123366    122916       114116  126.032558
6    26080  123369  123366    122916       114116  126.032558
7    28767  123369  123366    122916       114116  126.032558
8    29953  123369  123366    122916       114116  126.032558
9    30296  123369  123366    122916       114116  126.032558
10   42536  123371  123371    118000        52158  150.287482
11   43167  123369  123366    122916       114116  126.032558
12   51611  123369  123366    122916       114116  126.032558
13   52158  123371  123371    118000        52158  150.287482
14   59480  123369  123366    122916       114116  126.032558
15   65557  123369  123366    122916       114116  126.032558
16   68024  123369  123366    122916       114116  126.032558
17   70336  123369  123366    122916       114116  126.032558
18   70416  123369  123366    123174        70416   35.230850
19   74583  123369  123366    122916       114116  126.032558
20   91680  123369  123366    121920       121920   33.587331
21  105074  123369  123366    122916       114116  126.032558
22  109456  123369  123366    122916       114116  126.032558
23  113511  123369  123369    123121       113511  159.587489
24  114116  123369  123366    122916       114116  126.032558
25  121920  123369  123366    121920       121920   33.587331

In [113]:
additional_prices[additional_prices['sku'].isin(sku_to_est)]

       sku   class   group  category  subcategory       price
0     1612  123369  123366    116090        21260   92.040435
1    12692  123369  123366    122916       114116  126.032558
2    17235  123369  123366    121920       121920   33.587331
3    21260  123369  123366    116090        21260   92.040435
4    24747  123369  123366    121920       121920   33.587331
5    26079  123369  123366    122916       114116  126.032558
6    26080  123369  123366    122916       114116  126.032558
7    28767  123369  123366    122916       114116  126.032558
8    29953  123369  123366    122916       114116  126.032558
9    30296  123369  123366    122916       114116  126.032558
10   42536  123371  123371    118000        52158  150.287482
11   43167  123369  123366    122916       114116  126.032558
12   51611  123369  123366    122916       114116  126.032558
13   52158  123371  123371    118000        52158  150.287482
14   59480  123369  123366    122916       114116  126.032558
15   65557  123369  123366    122916       114116  126.032558
16   68024  123369  123366    122916       114116  126.032558
17   70336  123369  123366    122916       114116  126.032558
18   70416  123369  123366    123174        70416   35.230850
19   74583  123369  123366    122916       114116  126.032558
20   91680  123369  123366    121920       121920   33.587331
21  105074  123369  123366    122916       114116  126.032558
22  109456  123369  123366    122916       114116  126.032558
23  113511  123369  123369    123121       113511  159.587489
24  114116  123369  123366    122916       114116  126.032558
25  121920  123369  123366    121920       121920   33.587331

In [116]:
test = test[test['price'].isna()].drop('price', axis=1).merge(additional_prices[['sku', 'price']], on=['sku'], how='left')

In [119]:
test_w_prices = pd.concat([test_w_prices, test])

In [120]:
test_w_prices.shape

(2666084, 26)

In [123]:
test_w_prices['est_num_sales'] = test_w_prices['selling_price']/test_w_prices['price']
test_w_prices

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_size_id,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,month,year,price,est_num_sales
0,2021-10-25,23,10,22:25:37,114519,300187,64.84,86.26,28.72,123369,...,8,1,1,1,1,0,10,2021,33.990569,2.537763
3,2021-10-25,23,10,22:25:37,88039,299802,28.68,41.27,23.95,123369,...,8,1,1,1,1,0,10,2021,29.846492,1.382742
4,2021-10-25,23,10,22:25:37,79182,51588,1.47,5.49,0.30,123371,...,8,1,1,1,1,0,10,2021,3.555905,1.543911
6,2021-10-25,23,10,22:25:37,13210,51588,27.24,69.99,3.70,123369,...,8,1,1,1,1,0,10,2021,56.653333,1.235408
7,2021-10-25,23,10,22:25:37,105667,299436,31.29,47.89,23.50,123369,...,8,1,1,1,1,0,10,2021,51.025000,0.938560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2021-10-30,25,2637746,11:43:09,26080,51588,240.22,448.95,23.72,123369,...,3,1,2,1,1,0,10,2021,126.032558,3.562175
76,2021-10-30,25,2637746,11:43:09,105074,51588,38.25,71.28,3.76,123369,...,3,1,2,1,1,0,10,2021,126.032558,0.565568
77,2021-11-04,50,2647122,12:25:23,17235,51588,56.86,101.89,5.40,123369,...,3,1,2,1,1,0,11,2021,33.587331,3.033584
78,2021-10-23,15,2662996,13:03:00,105074,51588,26.21,48.84,2.57,123369,...,3,1,2,1,1,0,10,2021,126.032558,0.387519
79,2021-10-23,15,2662996,13:03:00,59480,51588,27.12,51.10,2.70,123369,...,3,1,2,1,1,0,10,2021,126.032558,0.405451

In [124]:
stat_month = test_w_prices.groupby(["year", "month", "sku"]).agg({"check_id": "count"}).reset_index().sort_values(by='check_id')
stat_month.rename(columns={"check_id": "count"}, inplace=True)
stat_month = stat_month.groupby("sku").agg({"count": "mean"})
stat_month = stat_month.reset_index()

test_w_prices = test_w_prices.merge(stat_month, on='sku', how='left')
test_w_prices

,day,shop_id,check_id,time,sku,promo_id,supplier_price,selling_price,discount,class,...,type_format_id,type_wealth_id,is_store,is_active,is_ex_billa,month,year,price,est_num_sales,count
0,2021-10-25,23,10,22:25:37,114519,300187,64.84,86.26,28.72,123369,...,1,1,1,1,0,10,2021,33.990569,2.537763,541.0
1,2021-10-25,23,10,22:25:37,88039,299802,28.68,41.27,23.95,123369,...,1,1,1,1,0,10,2021,29.846492,1.382742,1033.0
2,2021-10-25,23,10,22:25:37,79182,51588,1.47,5.49,0.30,123371,...,1,1,1,1,0,10,2021,3.555905,1.543911,12925.8
3,2021-10-25,23,10,22:25:37,13210,51588,27.24,69.99,3.70,123369,...,1,1,1,1,0,10,2021,56.653333,1.235408,6.0
4,2021-10-25,23,10,22:25:37,105667,299436,31.29,47.89,23.50,123369,...,1,1,1,1,0,10,2021,51.025000,0.938560,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666079,2021-10-30,25,2637746,11:43:09,26080,51588,240.22,448.95,23.72,123369,...,1,2,1,1,0,10,2021,126.032558,3.562175,1.5
2666080,2021-10-30,25,2637746,11:43:09,105074,51588,38.25,71.28,3.76,123369,...,1,2,1,1,0,10,2021,126.032558,0.565568,2.5
2666081,2021-11-04,50,2647122,12:25:23,17235,51588,56.86,101.89,5.40,123369,...,1,2,1,1,0,11,2021,33.587331,3.033584,1.0
2666082,2021-10-23,15,2662996,13:03:00,105074,51588,26.21,48.84,2.57,123369,...,1,2,1,1,0,10,2021,126.032558,0.387519,2.5
2666083,2021-10-23,15,2662996,13:03:00,59480,51588,27.12,51.10,2.70,123369,...,1,2,1,1,0,10,2021,126.032558,0.405451,1.5

In [138]:
test_w_prices['sell_in'] = test_w_prices['supplier_price']/test_w_prices['est_num_sales']
test_w_prices['promo_id'] = test_w_prices['promo_id'].astype(int)

test_df = test_w_prices.groupby(["day", "shop_id", "sku"]).agg({"price": "mean", "count": "mean", "sell_in": "mean", "month": "first",
                                                         "promo_id": "first", "discount": "mean"}).reset_index()

In [140]:
X_train.head()

        price        count     sell_in  month  promo_id  discount  id
0   34.990000    19.000000   24.730000      1     30488     12.40   1
1   82.495308    81.600000   55.721249      1    145965    173.22   2
2   18.490000    38.769231   10.500000      1    115458     61.20   3
3   99.772329  1390.976190   95.683012      1    233553     96.68   4
4  142.090000     2.482759  120.360000      1    164866     71.59   5

In [142]:
test_df['id'] = range(1, len(test_df)+1)

In [143]:
predictions = model.predict(test_df[['price', 'count', 'sell_in', 'month', 'promo_id', 'discount']])

In [145]:
test_df['prediction'] = predictions

In [168]:
test_df.to_csv('test_to_predict.csv')

In [149]:
sub = test_df[['day', 'shop_id', 'sku', 'prediction']]
sub

               day  shop_id     sku  prediction
0       2021-07-01        0      17    2.181779
1       2021-07-01        0      49    0.890574
2       2021-07-01        0      79    1.910745
3       2021-07-01        0     109    5.472796
4       2021-07-01        0     213    1.323421
...            ...      ...     ...         ...
2253775 2021-11-30       59  118891    2.696585
2253776 2021-11-30       59  118943    2.958249
2253777 2021-11-30       59  119087    1.650848
2253778 2021-11-30       59  119442    1.578079
2253779 2021-11-30       59  119654    1.418514

[2253780 rows x 4 columns]

In [150]:
sub['day'] = sub['day'].dt.strftime('%Y%m%d')

/var/folders/64/svd0gdmx7kz_3vg0x7752y440000gn/T/ipykernel_83582/4082614251.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [153]:
shop_id = pd.read_csv("shop_id.csv")
sku = pd.read_csv("sku.csv")

In [158]:
sku.head()

                              index  sku
0  16b4bff70d409ddb77c8107a528cf94b    0
1  fc6867c8b4ce831c16fa7961958270d4    1
2  1b3353cb266de9c2bcc2fc5b911973f0    2
3  a3d57e327b84fb971e09b2b33c890538    3
4  1c71460770f458c06a29ed650c0974cc    4

In [159]:
shop_id = shop_id.to_dict()['index']
sku = sku.to_dict()['index']

In [160]:
sub['shop_id'] = sub['shop_id'].map(shop_id)
sub['sku'] = sub['sku'].map(sku)
sub

/var/folders/64/svd0gdmx7kz_3vg0x7752y440000gn/T/ipykernel_83582/4024308223.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/64/svd0gdmx7kz_3vg0x7752y440000gn/T/ipykernel_83582/4024308223.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,day,shop_id,sku,prediction
0,20210701,d04feef70623eaf7167f9172da8650db,6c7376da8563e2a1c4a554dd3623f832,2.181779
1,20210701,d04feef70623eaf7167f9172da8650db,23f552a9126cedd94df4a760107773de,0.890574
2,20210701,d04feef70623eaf7167f9172da8650db,3b70da5574ddb629f9fe6440432894f0,1.910745
3,20210701,d04feef70623eaf7167f9172da8650db,ef7bf412117548cb80b3f3b33a12977d,5.472796
4,20210701,d04feef70623eaf7167f9172da8650db,acbea6afda31885cb996df4569c0f650,1.323421
...,...,...,...,...
2253775,20211130,7d7c45b9a935cf9d845fc75679a41559,db26c36d69925ebe6d6745beb3d5e0df,2.696585
2253776,20211130,7d7c45b9a935cf9d845fc75679a41559,d36f89e079d802acade5e4746523ef5c,2.958249
2253777,20211130,7d7c45b9a935cf9d845fc75679a41559,eeb335affeb679d160d1afe7393d6ce7,1.650848
2253778,20211130,7d7c45b9a935cf9d845fc75679a41559,fba66841370ea48ab47c027bbacc18f1,1.578079
2253779,20211130,7d7c45b9a935cf9d845fc75679a41559,52026f37111e2fe32cfa86ee1be33a95,1.418514

In [161]:
sub = sub.rename(columns={'prediction': 'demand'})
sub

,day,shop_id,sku,demand
0,20210701,d04feef70623eaf7167f9172da8650db,6c7376da8563e2a1c4a554dd3623f832,2.181779
1,20210701,d04feef70623eaf7167f9172da8650db,23f552a9126cedd94df4a760107773de,0.890574
2,20210701,d04feef70623eaf7167f9172da8650db,3b70da5574ddb629f9fe6440432894f0,1.910745
3,20210701,d04feef70623eaf7167f9172da8650db,ef7bf412117548cb80b3f3b33a12977d,5.472796
4,20210701,d04feef70623eaf7167f9172da8650db,acbea6afda31885cb996df4569c0f650,1.323421
...,...,...,...,...
2253775,20211130,7d7c45b9a935cf9d845fc75679a41559,db26c36d69925ebe6d6745beb3d5e0df,2.696585
2253776,20211130,7d7c45b9a935cf9d845fc75679a41559,d36f89e079d802acade5e4746523ef5c,2.958249
2253777,20211130,7d7c45b9a935cf9d845fc75679a41559,eeb335affeb679d160d1afe7393d6ce7,1.650848
2253778,20211130,7d7c45b9a935cf9d845fc75679a41559,fba66841370ea48ab47c027bbacc18f1,1.578079
2253779,20211130,7d7c45b9a935cf9d845fc75679a41559,52026f37111e2fe32cfa86ee1be33a95,1.418514

In [162]:
sub.isna().sum()

day        0
shop_id    0
sku        0
demand     0
dtype: int64

In [163]:
sub.to_csv('pricing_hackathon_submission.csv')